@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 15 23 42;
    --foreground: 248 250 252;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-slate-950 text-slate-50 antialiased;
  }
}

@layer utilities {
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-blue-400 via-blue-300 to-red-400;
  }

  .glass {
    @apply bg-white/5 backdrop-blur-sm border border-white/10;
  }
}
